a:hover{
    color: rgb(144, 143, 143);
  }
a{
    color: black
}
form{
  display: none;
}
.hiddenbtn{
  display: none;
}

.avatar-container {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  margin-left: 147px;
  margin-left: 33%; 

}
.bottom-image{
  display: none;
}
