.response-block{
    margin-left: 5px;
    margin-bottom: 5px;
    color: rgb(94, 92, 92)
}

.response-block:hover{
    color:rgb(0, 0, 0)
}
.responses{
    margin-bottom: 10px;
    margin-left: 10px;
}
