body {
    background: rgba(255, 255, 255, 0.933);
}
footer{
    bottom: 0;
    width: 100%;
    background-color: #ffffff; 
    padding: 20px;
    margin-left: 5%;
}
#Corp{
    color: teal;
}

.nickname{
    background-color: 123;
}
