body {
    background: rgba(255, 255, 255, 0.933);
}
footer{
    bottom: 0; /* Располагаем футер в самом низу контейнера */
    width: 100%;
    background-color: #ffffff; 
    padding: 20px;
    margin-left: 5%;
}
#Corp{
    color: teal;
}
.cardsWithPosts{
    display: flex;
}
